{% extends 'base.html' %}

{% block title %}Contact Us - City Hospital{% endblock %}

{% block content %}
<div class="row mt-4">
    <div class="col-md-5 mx-auto text-center">
        <h2 class="mb-4">Contact Information</h2>

        <div class="card p-4 shadow-sm">
            <h4>City Hospital Central Branch</h4>
            <br>
            <p><strong>Address:</strong><br>
                123 Medical Avenue,<br> Health City, HC 45678</p>

            <p><strong>Phone:</strong><br>
                Emergency: 0123456789<br>
                General Inquiries: (555) 123-4567</p>

            <p><strong>Email:</strong><br>
                support@cityhospital.com</p>

            <p><strong>Working Hours:</strong><br>
                Mon-Sun: 24/7 (Emergency)<br>
                OPD: 8:00 AM - 8:00 PM</p>
        </div>
    </div>
</div>
{% endblock %}